.pizzas {
    display: grid;
    gap: 1em;
    padding: 1em;
}

.pizza-icon1 {
    width: 150px;
    height: 150px;
    /* position: absolute; */
    top: -25px;
    left: 50%;

}

.center {
    text-align: center;
    border-radius: 1em;
    padding: 1em;
    margin: 0.5em;
    margin-bottom: 0.5em;
    background-image: url('BAKO.jpeg'); 
    background-size:auto;
}

.pizzaFeature {
    border: 1px solid;
    padding: 1em;
    border-radius: 5px;
    position: relative;
}

.pizza {
    border: 1px solid;
    padding: 1em;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
}


@media (min-width: 768px) {
    .pizzas {
        grid-template-columns: repeat(3, 1fr);
    }
}

.capitalize-text {
    text-transform: capitalize;
}

.pizzaFeature:nth-child(odd) {
    background-color: blue;
}

.pizzaFeature:nth-child(even) {
    background-color: green;
}

.pizza:nth-child(odd) {
    background-color: blue;
}

.pizza:nth-child(even) {
    background-color: green;
}

.container {
    margin-right: 1em;
    margin-left: 1em;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cart-table th, .cart-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.cart-table th {
    background-color: #f2f2f2;
    color: #333;
}

.cart-table tfoot .total-label {
    text-align: right;
    font-weight: bold;
    background-color: #f9f9f9;
}

.cart-table tfoot .total-value {
    font-weight: bold;
    background-color: #f9f9f9;
}

.footer {
    display: flex;
    border: 5px solid;
    background-color: #ffb703;
    border-radius: 1em;
    justify-content: space-between;
    padding:auto;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.5em;
    margin-bottom: 0.5em;
  }
  
  .left {
    text-align: left;
  }
  
  .right {
    text-align: left;
  }

.items {
    display: flex: block;
    flex-wrap: wrap;
    justify-content:content;
    align-items: center;
}


/* Styles for screens smaller than 600px */
@media screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

/* Styles for screens between 600px and 900px */
@media screen and (min-width: 600px) and (max-width: 900px) {
    body {
        background-color: lightgreen;
    }
}

/* Styles for screens larger than 900px */
@media screen and (min-width: 900px) {
    body {
        background-color: lightyellow;
        .pizza-container {
        display: flex;
        }   
    }
}

[x-cloak] { display: none !important; }

.pizza-info .pizzas {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px; 
   
}
.pizza-info .pizza {
    display: grid;
    grid-template-columns: auto 1fr 1fr auto; /* Define the layout of the columns */
    align-items: center;
    gap: 10px; 
    border: 1px solid #ddd;
    padding: 1em;
    border-radius: 5px;
    margin-left: 1em;
    margin-right: 1em;
}
.pizza-icon {
    width: 100px; 
    height: auto;
}


.order-history-container {
    text-align: center;
    color: #030303;
    
    margin-top: 20px;
  }

  .order-history-list {
    margin: 0 auto;
    width: 80%;
    text-align: left;
  }

  .order-history-item {
    border: 1px solid #5c0808;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .order-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }

  .order-table th, .order-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .order-table th {
    background-color: #f2f2f2;
    color: #333;
  }

  .order-table tfoot .total-label {
    text-align: left;
    font-weight: bold;
    background-color: #f9f9f9;
  }

  .order-table tfoot .total-value {
   
    background-color: #f9f9f9;
  }

  .order-history-item p {
    margin: 5px 0;
  }


.success-message {
    color: #28a745; 
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin-top: 10px;
  }
  
  .error-message {
    color: #dc3545; 
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
    margin-top: 10px;
  }